body {
    background-color: gray;
}

h1 {
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    color: navy;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: navy; 
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    color: navy;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    color: navy;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div { background-color: silver;    
}

table {
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ImageBorder {
    border-width: 20px;
    border-color: black;
}